<div class="mt-5 container-fluid row mx-0 df-jcc">
    <article class="col-12 col-lg-6 mw-800">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade container-fluid">
            
            <div class="carousel-indicators">
                @if(dataLoaded){
                    @for(image of productData.images; track $index){
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="($index)" aria-current="true" aria-label="'Slide' + ($index+1)" [ngClass]="{'active': isActived($index)}"></button>
                    }
                }
            </div>


            <div class="carousel-inner images-container">
                @if(dataLoaded){
                    @for(image of productData.images; track $index){         
                        <div class="carousel-item img-container" [ngClass]="{'active': isActived($index)}">
                            <img src="{{image}}" class="d-block img-square" #squareElement alt="...">
                        </div>
                    }
                }
            </div>

            <!--Button Previous-->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" (click)="prevImage()" data-bs-slide="prev">
                <i class="bi bi-caret-left-fill"></i>
            </button>

            <!--Button Next-->
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" (click)="nextImage()" data-bs-slide="next">
                <i class="bi bi-caret-right-fill"></i>
            </button>
        </div>
    </article>

    <aside class="col-12 col-lg-6 col-xl-4 pt-4 ps-4 bor bor-secondary bor-rad">
        <div>
            <h2 class="detail-product-text fs-1">{{productData.title}}</h2>
        </div>
        <div>
            <app-product-rate [rating]=productData.rating/> <br>
            <span class="fs-5">Marca: {{productData.brand}}</span>
        </div>
        <div class="mt-5">
            <span class="fs-1 fw-bold">${{productData.price}}</span><br>
            <span class="fs-5">6 Cuotas sin intereses.</span>
        </div>
        <div class="my-4 fs-5">
            <span>Stock: {{productData.stock}}</span>
        </div>
        <div class="mt-5">
            <span class="fs-4 fw-bold">Descripción:</span> <br>
            <span class="fs-5">{{productData.description}}</span>
        </div>

        <div>
            <button type="button" class="btn btn-primary">Comprar</button>
            <button type="button" class="btn btn-secondary">Agregar al Carrito</button>
        </div>


    </aside>
</div>
