.carousel-indicators{
    button{
        background-color: black;
    }
}

.img-square{
    width: 100%;
}

.mw-800{
    max-width: 800px;
}


.img-container{
    width: 100%;
    aspect-ratio: 1/1;
}


.bi-caret-right-fill, .bi-caret-left-fill{
    color: black;
    font-size: 20px;
}

@media (max-width: 768px) {
    .bi-caret-right-fill, .bi-caret-left-fill{
        display: none;
    }

    
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.px-auto{
    padding-left: auto;
    padding-right: auto;
}

.df-jcc{
    display: flex;
    justify-content: center;
}

.detail-product-text{
    font-family: "Reddit Sans", sans-serif;
}