<div class="container-fluid d-flex justify-content-center mt-5">

    <div class="container">
        <div class="row d-flex justify-content-center">
            @if (dataIsLoaded === true) {

            @for (product of productsList; track $index) {
            <div class="col-12 col-md-4 col-lg-3 mt-4">
                <div class="card custom-card border">
                    <img src={{product.image}} class="card-img-top custom-card-image py-2">
                    <div class="card-body">
                        <h5 class="card-title custom-card-title">{{product.title}}</h5>
                        <div>
                            <h3 class="card-title">${{product.price}}</h3>
                            <a href="#" class="btn btn-success">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
            }
            } @else {
            <h2>Data is loading</h2>
            }
        </div>
    </div>
</div>