.navbar-toggler{
    border-color: var(--se-color);
    color: var(--se-color);
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.profile-options{
    display: flex;
    gap: 1rem;
}

.custom__buttons{
    color: var(--se-color);
    background-color: var(--pr-color);
    text-decoration: none;
    border-radius: .5rem;
}

.custom__buttons:hover{
    background-color: var(--pr-color-dark);
}