<h1>Paginación</h1>
<app-pagination [skipProducts]="skipProducts"></app-pagination>

@if (pages.length>=0){
    <div class="">
        <button (click)="previousPage()" class="btn btn-light">⇦</button>
        @for(page of pages; track $index){
            <button (click)="numPage(page)" class="btn btn-light">{{page}}</button>
        }
        @empty{
            <button class="btn btn-light diseabled">0</button>
        }
        <button (click)="nextPage()" class="btn btn-light">Next</button>
    </div>
}