/* You can add global styles to this file, and also import other style files */
:root{
    --pr-color: #42a5f5;
    --pr-color-dark: #2287d9;
    --se-color: #fafafa;
    --tr-dark: rgba(61, 61, 61, 0.521);
}


.bgc-primary{
    background-color: var(--pr-color);
}

.bgc-secondary{
    background-color: var(--se-color);
}

.txt-col-primary{
    color: var(--pr-color);
}

.txt-col-secondary{
    color: var(--se-color);
}

/*BORDES CUSTOMIZADOS*/
.bor{
    border: solid 1px;
}

.bor-primary{
    border-color: var(--pr-color);
}

.bor-primary-dark{
    border-color: var(--pr-color-dark);
}

/*Tamaño de Tarjeta*/
.img-card-h{
    height: 300px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
